World(
    sites: [
        Site(
            pos: (3.0, 3.0),
            kind: 0,
            size: 0.2,
        ),
        Site(
            pos: (7.0, 2.0),
            kind: 1,
            size: 0.2,
        ),
        Site(
            pos: (5.0, 5.0),
            kind: 2,
            size: 0.2,
        ),
        Site(
            pos: (5.0, 8.0),
            kind: 3,
            size: 0.2,
        ),
        Site(
            pos: (8.0, 7.0),
            kind: 4,
            size: 0.2,
        ),
        Site(
            pos: (8.5, 4.5),
            kind: 5,
            size: 0.2,
        ),
    ],
    site_kinds: [
        (0xff, 0x00, 0x00),
        (0x00, 0xff, 0x00),
        (0x00, 0x00, 0xff),
        (0xff, 0xff, 0x00),
        (0x00, 0xff, 0xff),
        (0xff, 0x00, 0xff),
    ],
    obstacles: [
        // Circle(
        //     center: (5.0, 2.6),
        //     radius: 0.5,
        // ),
    ],
    world_size: (16.0, 10.0),
)
